html, body {
	height: 100%;
	width: 100%;
	padding: 0;
	margin: 0;
	background: var( --white );
	font: 17px/1.6 'Helvetica Neue', arial, sans-serif;
	color: #444;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	--primary: #1d3557;
	--tertiary: #457b9d;
	--light: #a8dadc;
	--white: #f1faee;
	--secondary: #e63946;
}

@keyframes bouncing-loader {
	to {
		opacity: 0.1;
		transform: translate3d(0, -16px, 0);
	}
}

.bouncing-loader {
	display: flex;
	justify-content: center;
}

.bouncing-loader > * {
	margin: 3rem 0.2rem;
	animation: bouncing-loader 0.6s infinite alternate;
}

.bouncing-loader > *:nth-child(2) {
	animation-delay: 0.2s;
}

.bouncing-loader > *:nth-child(3) {
	animation-delay: 0.4s;
}

.home {
	padding: 56px 20px;
	min-height: 100%;
	width: 100%;
	max-width: 1024px;
	margin: auto;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
}

.home > * {
	width: 100%;
}

* {
	box-sizing: border-box;
}

#app {
	height: 100%;
}

#masthead {
	background: #1d3557;
}

.btn-big,
.button {
	border-radius: 3px;
	display: inline-block;
	cursor: pointer;
	padding: .8em 1.2em;
	background-color: var( --secondary );
	border: none;
	color: var( --white );
	text-decoration: none;
	position: relative;
	transition: .2s all;
}
.btn-big:disabled,
.button:disabled {
	opacity: .7;
}

.btn-big:hover,
.button:hover {
	transform: scale(1.01);
}

.btn-big {
	font-size: 2em;
}

ul.square-box  {
	list-style-type: none;
	margin: 0;
	padding: 0;
}

.square-box > li:before {
	content: "\2610";
	font-size: 1.2em;
	display: inline-block;
	margin-right: .5em;
}

.square-box > li.done:before {
	content: "\2611";
}

.tc {
	text-align: center;
}