html, body {
	height: 100%;
	width: 100%;
	padding: 0;
	margin: 0;
	background: #FAFAFA;
	font: 17px/1.6 'Helvetica Neue', arial, sans-serif;
	color: #444;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

* {
	box-sizing: border-box;
}

#app {
	height: 100%;
}

.button {
	display: inline-block;
	padding: 1em 1.6em;
	background-color: #673AB7;
	color: #fff;
	text-decoration: none;
}

ul.square-box  {
	list-style-type: none;
	margin: 0;
	padding: 0;
}

.square-box > li:before {
	content: "\2610";
	font-size: 1.2em;
	display: inline-block;
	margin-right: .5em;
}

.square-box > li.done:before {
	content: "\2611";
}
